# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
.venv/
venv/

# Locust reports
locust_report/

# Go
/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
